[Desktop Entry]
Type=Application
ServiceTypes=LXQtPanel/Plugin
Icon=/home/Sparky/SparkyBotMini/sparky_icon.png
Exec=/usr/bin/python3 /home/Sparky/SparkyBotMini/main.py
Categories=Utility;
Terminal=false
Name=SparkyBotMini
Comment= GUI
